body {
  padding: 32px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


ul {
  list-style: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-15 {
  flex: 0 1 15%;
}

.flex-80 {
  flex: 0 1 80%;
}
section{
  /* background-color: green; */
  justify-content: space-between;
}

.flex-18{
  flex: 0 1 18%;
}
.w-full {
  width: 100%;
 
}
ul {
  /* background-color: green; */
  justify-content: space-between;
}

ul > li {
  margin-bottom: 1.5rem;
 
}
.box1 {
  height: 3rem;
  border-radius: .3rem;
  margin-bottom: .5rem;
  
}
.box2 {
  font-size: 1.2rem;
  font-weight: 600;
}
aside {
  background-color: rgb(226, 218, 218);
  padding: 1rem;
  border-radius: .3rem;
  margin-bottom: 1rem;
}

aside h3 {
  font-size: 2rem;
  text-transform: capitalize;
}

.jcb {
  justify-content: space-between;
}